@import "base/typography";

.logo {
  background: url("/images/Logo_land.png") 50% 50% no-repeat;
  background-size: contain;
  width: 118px;
  height: 39px;
  text-indent: -9999px;
  white-space: nowrap;
}

.header {
  background-color: #000000;
  background-image: url("/images/speaker.png");
  background-repeat: no-repeat;
  background-position: 710px 50%;
  background-size: 1043px;
  min-height: 720px;

  .container {
    padding-top: 55px;
  }

  .text--main {
    padding-top: 125px;
    font-family: "Arvo";
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 74px;
    /* or 123% */

    color: #ffffff;
  }

  &_top {
    display: flex;
    align-items: center;
  }

  &_button {
    display: inline-block;
    height: 43px;
    line-height: 15px;
    background: #f05638;
    color: #ffffff;
    border-radius: 45px;
    padding: 14px 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-top: 70px;
  }

  &_menu {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;

    a {
      line-height: 39px;
      color: #ffffff;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 992px) {
    &_menu {
      background: url("/images/Group 2.svg") 100% 0 no-repeat;

      width: 50px;
      height: 50px;
      position: absolute;
      right: 30px;
      top: -31px;

      a {
        display: none;
      }
    }
  }

  @media screen and (max-width: 992px) {
    & {
      background-position: 50% -100%;
    }
  }

  @media screen and (min-width: 992px) {
    .container {
      width: 968px;
      overflow-x: hidden;
    }
  }
}

.text3 {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */

  text-align: center;

  color: #9fa3a7;
}

.text2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 2.4px;

  color: #9fa3a7;
}

.text1 {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */

  color: #212121;
}

.text__center {
  text-align: center;
}

.ucard {
  .container {
    padding-top: 120px;
    padding-bottom: 55px;
  }

  &_top {
    .text1 {
      margin-top: 15px;
    }
  }

  .text2 {
    color: #212121;
  }

  .text3 {
    padding: 0 40px;
  }

  &_list {
    margin-top: 60px;

    .ucard-item {
      text-align: center;
      overflow: hidden;

      &__new {
        &:after {
          content: "NEW";
          position: absolute;
          top: 13px;
          right: -38px;
          transform: rotate(45deg);
          background: #ffc80a;
          width: 150px;
          text-align: center;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 30px;
          height: 30px;
          /* identical to box height */

          letter-spacing: 2.4px;
        }
      }
    }
  }

  img {
    margin-top: 40px;
    margin-bottom: 18px;
    width: 250px;
    height: 180px;
    object-fit: contain;
  }

  &_link {
    display: inline-block;
    visibility: hidden;
    height: 40px;
    width: 40px;
    margin-bottom: 60px;
    margin-top: 28px;
    background: url("/images/Arrow Right.svg") 50% 50% no-repeat;
  }

  .ucard-item {
    &:hover {
      box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      cursor: pointer;

      .ucard_link {
        visibility: visible;
      }
    }
  }
}

.unews {
  background-color: #fff;

  .container {
    padding-top: 55px;
    padding-bottom: 65px;
  }

  &_top {
    .text1 {
    }
    .sub-title {
      margin-top: 22px;
      font-family: Arvo;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: #9fa3a7;
    }
  }

  &_items {
    margin-top: 52px;
  }

  @media screen and (min-width: 992px) {
    .container {
      width: 1140px;
    }
  }

  &_item {
    background: #f7f8f9;
    border-radius: 8px;
    padding-bottom: 25px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
    }

    h2 {
      font-family: Arvo;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      color: #212121;
      margin: 19px 25px 9px;
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: #9fa3a7;
      margin: 0px 25px;
      min-height: 135px;
    }

    &-info {
      margin: 0 25px;
      display: flex;
      justify-content: space-between;

      &-left {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: #9fa3a7;
        img {
          width: 14px;
          height: 14px;
          margin-right: 9px;
        }
      }
      &-right {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: #9fa3a7;
        img {
          width: 18px;
          height: 13px;
          margin-right: 7px;
        }
      }
    }

    &-black {
      background: #292929;

      h2 {
        color: #ffffff;
      }

      p {
        color: #9fa3a7;
      }
    }

    &-small {
      p {
        min-height: 103px;
      }
    }
  }
}

.upraicing {
  background-image: url("/images/bg1.png");
  background-size: cover;

  .container {
    padding-top: 50px;
    padding-bottom: 120px;
  }

  &_top {
    text-align: center;
    margin-top: 70px;

    h2 {
      font-family: Arvo;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 48px;
      color: #212121;
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: #9fa3a7;
    }
  }

  &_items {
    margin-top: 40px;
  }

  .pricing {
    background-color: aliceblue;
    background: url(Image.png);
    text-align: center;
  }

  .pricing-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  .pricing-card-wrap {
    background: #f8f8f8;
    border-radius: 6px;
    padding: 70px 0 60px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -25px;
    margin-right: -25px;
  }

  .pricing-card-center {
    width: 455px;
    padding: 97px 0 85px;
    background-color: #ffffff;
    z-index: 1;

    .btn-ghost {
      background: #f9593a;
      border-color: #f9593a;
      color: #ffffff;
    }

    &:after {
      content: "POPULAR";
      position: absolute;
      top: 23px;
      right: 10px;
      background: #ffc80a;
      color: #ffffff;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 8px;
      line-height: 10px;
      letter-spacing: 1.92px;
      padding: 4px 7px 3px 10px;

      border-radius: 4px;
    }
  }

  .text4 {
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 74px;
    line-height: 91px;
    color: #212121;
  }

  .text5 {
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #9fa3a7;
  }

  .btn-ghost {
    border: 1px solid #9fa3a7;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 15px 42px;
    margin-top: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;

    color: #525252;
  }

  .bold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-right: 6px;
  }

  .note p {
    display: inline;
  }
}

.uactions {
  background-image: url("/images/bg2.png");
  background-size: cover;
  padding-top: 116px;
  padding-bottom: 116px;

  .container {
    background-color: #fff;
    border-radius: 8px;
  }
  @media screen and (min-width: 992px) {
    .container {
      width: 933px;
    }
  }

  &-wrapper {
    display: flex;
    margin-top: 59px;
    margin-bottom: 61px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    &-wrapper {
      flex-direction: column;
    }
  }

  &-title {
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #212121;
    margin: 0 14px;
  }

  &-button1,
  &-button2 {
    text-decoration: none;
    margin: 0 7px;

    &:hover {
      text-decoration: none;
    }
  }

  &-button1 {
    border: 2px solid #ededed;
    box-sizing: border-box;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
    background: #fff;
    color: #212121;
    border-radius: 25px;
    line-height: 43px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
      color: #212121;
    }
  }

  &-button2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;

    color: #ffffff;
    background: #f05638;
    border-radius: 25px;
    border-color: #f05638;
    outline: none;
    line-height: 43px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
      color: #ffffff;
    }
  }
}

.uforms {
  .row {
    margin-top: 88px;
    margin-bottom: 118px;
  }

  &_form {
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 50px;

    input {
      background: #f7f8f9;
      border-radius: 4px;
      border-width: 0;
      margin-bottom: 12px;
      line-height: 16px;
      width: 100%;
      border-radius: 4px;
      padding: 16px 10px;
    }

    textarea {
      background: #f7f8f9;
      border-radius: 4px;
      border-width: 0;
      margin-bottom: 20px;
      line-height: 16px;
      height: 133px;
      width: 100%;
      border-radius: 4px;
      padding: 16px 10px;
    }

    button {
      display: block;
      outline: none;
      border: none;
      background: #f9593a;
      color: #ffffff;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 2.4px;
      width: 100%;
      padding: 16px;
      border-radius: 100px;
    }
  }

  &_info {
    padding-top: 90px;

    img {
      transform: translateX(-42px);
    }

    h2 {
      margin-top: -80px;
      text-align: center;
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      /* or 186% */

      color: #9fa3a7;
    }
  }
}

.umap {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(235, 242, 243, 0.9) 28.65%,
        rgba(218, 218, 218, 0) 100%
      ),
      url(image.png);
    z-index: 1;
  }

  &_canvas {
    height: 526px;
  }

  &_box {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding-top: 47px;

    z-index: 2;

    h2 {
      font-family: Arvo;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 48px;

      color: #212121;
      margin-bottom: 15px;
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;

      color: #5c5c5c;
    }
  }
}

.ufooter {
  background: #1c1c1c;
  padding-top: 80px;
  padding-bottom: 100px;

  &_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &_menu {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
    margin: 0 100px;

    display: flex;
    justify-content: space-between;

    a {
      line-height: 39px;
      color: #ffffff;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 768px) {
    &_menu {
      flex-direction: column;
      text-align: center;
    }
  }

  &_social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 150px;
    justify-content: space-between;
  }

  hr {
    border: 1px solid #4f4f4f;
    width: 100%;
    margin-top: 100px;
    margin-top: 49px;
    margin-bottom: 59px;
  }

  &_copy {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: rgba(200, 200, 200, 0.5);
  }

  @media screen and (max-width: 992px) {
    &_top {
      flex-direction: column;

      .ufooter_menu {
        margin: 40px 0;
        width: 100%;
      }
    }
  }
}
